@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .site-container {
        @apply max-w-[1280px] mx-auto
    }
    .about-content-1 p {
        @apply font-noto_sans text-zinc-600 text-[16px] last:pb-0 pb-[20px] dark:text-zinc-400;
    }
}

@layer utilities {

}

@layer components {
    .site-nav li a {
        @apply transition-all delay-75 before:transition-all before:delay-75 relative before:content-[''] before:absolute before:left-0 before:bottom-[4px] before:w-full before:h-[0px];
    }
    .site-nav li a.active {
        @apply text-theme-color-2 before:bg-theme-color-2 font-semibold;
    }
    .footer-navs li a.active {
        @apply text-theme-color-2 dark:text-theme-color-2;
    }
}

:root {
    --hptessw-pgnbgc: #000000;
}

.home-sw .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--hptessw-pgnbgc);
    opacity: 0.2;
    margin: 0px 5px !important;
}

.home-sw .swiper-pagination-bullet-active {
    opacity: 0.5;
}

.home-sw .swiper-pagination {
    bottom: 0px !important;
}

.dark {
    --hptessw-pgnbgc: #ffffff;
}

.concard {
    background: rgb(0,175,79);
    background: linear-gradient(149deg, rgba(0,175,79,1) 0%, rgba(46,49,146,1) 100%);
}

.text-grd-1 {
    background: #00AF4F;
    background: linear-gradient(to right, #00AF4F 0%, #2E3192 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}