@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .site-container {
        @apply max-w-[1280px] mx-auto
    }
    .about-content-1 p {
        @apply font-noto_sans text-zinc-600 text-[16px] last:pb-0 pb-[20px] dark:text-zinc-400;
    }
    .capitalize-first::first-letter {
        initial-letter: 2;
        font-weight: bold;
        margin-right: .75em;
    }
}

@layer utilities {
    .faq-content p {
        @apply transition-all delay-75 font-noto_sans last:pb-0 pb-[20px] text-[16px] md:text-[18px] text-zinc-900 dark:text-zinc-300;
    }
    .terms-privacy-content p {
        @apply transition-all delay-75 font-noto_sans last:pb-0 pb-[20px] text-[16px] md:text-[18px] text-zinc-900 dark:text-zinc-300;
    }
    .terms-privacy-content h2 {
        @apply transition-all delay-75 font-noto_sans font-bold last:pb-0 pb-[20px] text-[25px] md:text-[30px] text-zinc-900 dark:text-zinc-300;
    }
    .user-area-nav li a.active {
        @apply bg-zinc-100 border-theme-color-2 dark:bg-zinc-900;
    }
}

@layer components {
    .site-nav li a {
        @apply transition-all delay-75 before:transition-all before:delay-75 relative before:content-[''] before:absolute before:left-0 before:bottom-[4px] before:w-full before:h-[0px];
    }
    .site-nav li a.active {
        @apply text-theme-color-2 before:bg-theme-color-2 font-semibold;
    }
    .footer-navs li a.active {
        @apply text-theme-color-2 dark:text-theme-color-2;
    }
    .ws-input-m1 {
        @apply transition-all delay-75 block w-full px-[15px] py-[8px] border border-solid border-zinc-600 bg-white text-[16px] md:text-[18px] font-noto_sans font-semibold focus:outline-[0] focus:border-theme-color-2 placeholder-zinc-500 dark:bg-zinc-800 dark:placeholder-zinc-500 dark:text-zinc-200;
    }
    .ws-input-pwd-m1 {
        @apply transition-all delay-75 block w-full pl-[15px] pr-[35px] py-[8px] border border-solid border-zinc-600 bg-white text-[16px] md:text-[18px] font-noto_sans font-semibold focus:outline-[0] focus:border-theme-color-2 placeholder-zinc-500 dark:bg-zinc-800 dark:placeholder-zinc-500 dark:text-zinc-200;
    }
    .ws-input-error {
        @apply block font-noto_sans text-[14px] text-red-600 font-semibold;
    }
    .ws-button-m1 {
        @apply transition-all delay-75 inline-block bg-theme-color-1 py-[10px] px-[20px] md:py-[10px] md:px-[25px] font-noto_sans text-[16px] md:text-[18px] text-white hover:bg-theme-color-1-hover-dark;
    }
    .goggle-lsbtn {
        @apply transition-all delay-75 block w-full max-w-[250px] mx-auto md:max-w-none md:mx-0 border-[2px] border-solid border-zinc-800 rounded-full py-[10px] md:py-[12px] px-[15px] font-noto_sans text-[17px] md:text-[18px] font-semibold dark:border-zinc-300 dark:text-zinc-300;
    }
}

:root {
    --hptessw-pgnbgc: #000000;
}

.home-sw .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--hptessw-pgnbgc);
    opacity: 0.2;
    margin: 0px 5px !important;
}

.home-sw .swiper-pagination-bullet-active {
    opacity: 0.5;
}

.home-sw .swiper-pagination {
    bottom: 0px !important;
}

.dark {
    --hptessw-pgnbgc: #ffffff;
}

.concard {
    background: rgb(0,175,79);
    background: linear-gradient(149deg, rgba(0,175,79,1) 0%, rgba(46,49,146,1) 100%);
}

.concard-rev {
    background: rgb(46,49,146);
    background: linear-gradient(149deg, rgba(46,49,146,1) 0%, rgba(0,175,79,1) 100%);
}

.text-grd-1 {
    background: #00AF4F;
    background: linear-gradient(to right, #00AF4F 0%, #2E3192 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}